@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display:ital,wght@0,400;0,700;1,400&family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --color-bg: #fafafa;
  --color-darkblue: #000228;
  --color-blue: #1d3dc4;
  --color-secondarytext: #4d4d4d;
  --color-lines: #f4f4f4;
  --color-workbg: #fcfcfc;
  --color-border: #f1f1f1;
  --color-disabled: #ddd;
  --color-text: #000;
  --gradient-grey: linear-gradient(180deg, #fff 0%, #b5d5f7 100%), #000;
  --gradient-blue:
    radial-gradient(100% 100% at 50% 100%, #000e8a 0%, #2a8dff 100%),
    linear-gradient(180deg, #fff 0%, #fdfdfd 100%);
  --gradient-workitem: linear-gradient(
    180deg,
    rgba(252, 252, 252, 0) 0%,
    rgba(244, 244, 244, 1) 45.67%
  );
  --color-mainbg: #fff;
  --gradient-mainhover: radial-gradient(
    #ff4f4f 0%,
    #0000ff 23.08%,
    #77cbff 40.38%,
    #f6fbff 64.42%,
    #ffffff 100%
  );
  --gradient-text: linear-gradient(90deg, #ffffff, #b5d5f7);
  --gradient-input: linear-gradient(180deg, #fff 0%, #fdfdfd 100%);
  --gradient-mainbuttonbg: linear-gradient(
    180deg,
    rgba(252, 252, 252, 0.85) 0%,
    rgba(244, 244, 244, 0.85) 100%
  );
}

:root {
  --gradient-facebook:
    radial-gradient(100% 100% at 50% 100%, #000e8a 0%, #2a8dff 100%),
    linear-gradient(180deg, #fff 0%, #fdfdfd 100%);
  --gradient-instagram:
    radial-gradient(
      64.28% 100% at 50% 100%,
      #d10000 0%,
      #fb6a00 46.15%,
      #ff6b10 55.29%,
      #ff2a94 100%
    ),
    linear-gradient(180deg, #fff 0%, #fdfdfd 100%);
  --gradient-linkedIn:
    radial-gradient(64.28% 100% at 50% 100%, #00a4d1 0%, #77b9ff 100%),
    linear-gradient(180deg, #fff 0%, #fdfdfd 100%);
  --gradient-x: radial-gradient(100% 100% at 50% 100%, #3a3a3a, #1a1a1a);
}

@layer base {
  [data-theme="dark"] {
    --color-bg: #121212;
    --color-darkblue: #ffffff;
    --color-secondarytext: #9f9f9f;
    --color-lines: #1f1f1f;
    --color-workbg: #282828;
    --color-text: #fff;
    --color-mainbg: #3f3f3f;
    --color-border: #282828;
    --gradient-workitem: linear-gradient(
      180deg,
      rgba(252, 252, 252, 0) 0%,
      rgb(63, 63, 63) 45.67%
    );
    --gradient-mainbuttonbg: linear-gradient(
      180deg,
      #2d2d2dd9 0%,
      #202020d9 100%
    );
    --gradient-mainhover: radial-gradient(
      #ff4f4f 0%,
      #0000ff 23.08%,
      #0066ff 40.38%,
      #3f3f3f 64.42%,
      #3f3f3f 100%
    );
    --gradient-contactbox: linear-gradient(
      180deg,
      #2d2d2df2 0%,
      #202020f2 100%
    );
    --gradient-contactbox1: linear-gradient(
      180deg,
      #2d2d2df2 0%,
      #262626f2 100%
    );
    --gradient-contactbox2: linear-gradient(
      180deg,
      #262626f2 0%,
      #202020f2 100%
    );
  }
}

body {
  font-family: "Manroope", sans-serif;
}

div,
p,
h1,
button {
  transition:
    background,
    color 0.2s ease-in-out;
  transition:
    border-color,
    color 0.2s ease-in-out;
  transition:
    color,
    0.2s ease-in-out;
}
.hoverBox {
  @apply relative bg-mainbg p-1.5 text-[1.2rem] border-0 cursor-pointer outline-0 overflow-hidden w-96 h-[420px];
}

.hoverBox:before {
  --opac: 0;
  z-index: -1;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: 500px;
  height: 500px;
  background: var(--gradient-mainhover);
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
  opacity: var(--opac);
}

.hoverBox:hover:before {
  --opac: 1;
}

@keyframes slidein {
  0% {
    opacity: 0;
    margin-bottom: -24px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

.contactshadow {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.gradienttext {
  @apply font-medium;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputbox {
  @apply py-3 px-4 rounded-xl placeholder:text-secondarytext outline-0 w-full resize-none;
  border: 0.5px solid var(--color-border);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1) inset;
  background: var(--color-mainbg);
}

.sendbutton {
  @apply w-full flex flex-row justify-center items-center gap-2 rounded-xl py-3 px-4 text-white cursor-pointer disabled:cursor-not-allowed transition-all;
  background: var(--gradient-blue);
  border: 0.5px solid var(--color-border);
}

.disabledbutton {
  background: var(--color-lines);
  color: var(--color-text);
}

.aboutme-top {
  background: linear-gradient(180deg, #b7b6b8 50%, rgba(183, 182, 184, 0) 100%);
}

.aboutme-bottom {
  background: linear-gradient(0deg, #b7b6b8 50%, rgba(183, 182, 184, 0) 100%);
}
