@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-darkblue: rgba(0, 2, 40, 1)
  --color-secondarytext:  rgba(77, 77, 77, 1);
  --color-lines: rgba(244, 244, 244, 1);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.hoverBox {
  position: relative;
  background: rgba(255, 255, 255, 1);
  padding: 6px;
  font-size: 1.2rem;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  width: 380px;
  height: 420px;
}

.hoverBox:before {
  --opac: 0;
  z-index: -1;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: 500px;
  height: 500px;
  background: radial-gradient(
    #ff4f4f 0%,
    #0000ff 23.08%,
    #77cbff 40.38%,
    #f6fbff 64.42%,
    #ffffff 100%
  );
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
  opacity: var(--opac);
}

.hoverBox:hover:before {
  --opac: 1;
}

@keyframes slidein {
  0% {
    opacity: 0;
    margin-bottom: -24px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}
