@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display:ital,wght@0,400;0,700;1,400&family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme inline {
  --color-bg: #fafafa;
  --color-darkblue: rgba(0, 2, 40, 1);
  --color-blue: #1d3dc4;
  --color-secondarytext: rgba(77, 77, 77, 1);
  --color-lines: #f4f4f4;
  --color-workbg: #fcfcfc;
}

body {
  font-family: "Manroope", sans-serif;
}

.greygradientbg {
  background: linear-gradient(180deg, #fff 0%, #b5d5f7 100%), #000;
}

.bluegradientbg {
  background: radial-gradient(100% 100% at 50% 100%, #000e8a 0%, #2a8dff 100%),
    linear-gradient(180deg, #fff 0%, #fdfdfd 100%);
}

.worksbasebg {
  background: linear-gradient(
    180deg,
    rgba(252, 252, 252, 0) 0%,
    rgba(244, 244, 244, 1) 45.67%
  );
}

.hoverBox {
  position: relative;
  background: rgba(255, 255, 255, 1);
  padding: 6px;
  font-size: 1.2rem;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  width: 380px;
  height: 420px;
}

.hoverBox:before {
  --opac: 0;
  z-index: -1;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: 500px;
  height: 500px;
  background: radial-gradient(
    #ff4f4f 0%,
    #0000ff 23.08%,
    #77cbff 40.38%,
    #f6fbff 64.42%,
    #ffffff 100%
  );
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
  opacity: var(--opac);
}

.hoverBox:hover:before {
  --opac: 1;
}

@keyframes slidein {
  0% {
    opacity: 0;
    margin-bottom: -24px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}
